# Site settings
title: Thomas Metzmacher
description: 'Engineering Team Leader / Agile Coach - Germany, Taucha b. Leipzig'
url: 'http://thomet.github.com'
baseurl: ''
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'Thomas Metzmacher'
  email: thomas@metzmacher.me
  twitter_username: tmetzmac
  facebook_username: thomas.metzmacher
  github_username: thomet
  linkedin_username: thomet
  keybase_username: thomet

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

sass:
    sass_dir: _sass
    style: compressed

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
include: ['keybase.txt']
